# Top-Level Macro Placement Configuration: macro_placement.cfg
# Die Dimensions: 4534 um x 4534 um (20.56 mm2 at 14nm FinFET)

# 4x Systolic Sub-Tiles (Left Half of Die)
u_tile_0 150 150 N
u_tile_1 1400 150 N
u_tile_2 150 1400 N
u_tile_3 1400 1400 N

# 16x 512KB SRAM Macro Banks (Right Half of Die)
u_sram.g_sram_banks[0].u_bank  2700 150 N
u_sram.g_sram_banks[1].u_bank  3400 150 N
u_sram.g_sram_banks[2].u_bank  2700 800 N
u_sram.g_sram_banks[3].u_bank  3400 800 N
u_sram.g_sram_banks[4].u_bank  2700 1450 N
u_sram.g_sram_banks[5].u_bank  3400 1450 N
u_sram.g_sram_banks[6].u_bank  2700 2100 N
u_sram.g_sram_banks[7].u_bank  3400 2100 N
u_sram.g_sram_banks[8].u_bank  2700 2750 N
u_sram.g_sram_banks[9].u_bank  3400 2750 N
u_sram.g_sram_banks[10].u_bank 2700 3400 N
u_sram.g_sram_banks[11].u_bank 3400 3400 N
u_sram.g_sram_banks[12].u_bank 2700 4050 N
u_sram.g_sram_banks[13].u_bank 3400 4050 N
u_sram.g_sram_banks[14].u_bank 2000 3400 N
u_sram.g_sram_banks[15].u_bank 2000 4050 N

# Specialized Compute & Control Blocks (Bottom Strip)
u_router   150 2800 N
u_streamer 800 2800 N
u_conv     1450 2800 N
u_softmax  2050 2800 N
u_lmhead   150 3500 N
u_vec      800 3500 N
u_rv32     1450 3500 N

# LPDDR5X PHY Macro (Top I/O Strip)
u_phy_lpddr5x 150 4200 N
